#cxpfm_before_paybutton_info{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#cxpfm_after_paybutton_info{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

